.cards {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    flex-wrap: wrap;
}

.card {
    transition: transform .2s;
    width: 18rem;
}

.card:hover {
    transform: scale(1.1);
}

h5 {
    cursor: pointer;
}

.text-center {
    margin-top: 10px;
}

.text-primary {
    margin-bottom: 10px;
}