table,
th,
td {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 122px;
}

.input {
    margin-left: 10px;
    padding: 0 10px 0 20px;
    font-size: 25px;
}

input,
textarea,
select {
    border: none;
    background-color: #bce3e7ac;
}

table {
    box-sizing: border-box;
    background-image: linear-gradient(to right, #23332957, #63d47037);
    border-radius: 10px;
    border-color: #537895;

}

.first {

    background-color: rgb(217, 243, 243);
}

.button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin-left: 20px;
    margin-bottom: 20px;
}